# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment folders
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# mypy
.mypy_cache/

# Logs
*.log

# Local files
*.sqlite3

# Streamlit cache
.streamlit/

# Files created by package build
*.egg
*.egg-info/
.eggs/

# Google Earth Engine authentication files (if any)
.earthengine/

# Others
.DS_Store
Thumbs.db
